
@model IEnumerable<SqlRequests.Models.User>
@{
    ViewData["Title"] = "Задачи SQL";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Задачи SQL</title>
</head>
<body>
    <h3>пользователи:</h3>
    <table border="1">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
            </tr>
        }
    </table>
    <h3>Заказы:</h3>
    <table border="1">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
            </tr>
        }
    </table>
    <input type="button" value="SqlReport1" />
</body>
</html>